# Cache files for JetBrains IDE
*.idea/

# Temp files
*__pycache__/
*cache/
*.tmp*
*.old*
*.bak*
*.swp
data/
*~

# Commitizen
node_modules/
package.json
package-lock.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS ignores
.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/
